<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Фамилия:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Отчество:</strong>
  <%= @person.middle_name %>
</p>

<p>
  <strong>ФИО:</strong>
  <%= @person.full_name %>
</p>

<p>
  <strong>Пол:</strong>
  <%= @person.sex_label %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>

<h2>Склонение по падежам</h2>
<table>
  <thead>
  <tr>
    <th>Падеж</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>ФИО</th>
  </tr>
  </thead>

  <tbody>
  <% @person.person_cases.each do |person| %>
    <tr>
      <td><%= person.case_label %></td>
      <td><%= person.last_name %></td>
      <td><%= person.first_name %></td>
      <td><%= person.middle_name %></td>
      <td><%= person.full_name %></td>
    </tr>
  <% end %>
  </tbody>
</table>